.why-designity-text {
  text-align: center;
  margin: 20px 0;
}

.fa-chess,
.fa-rocket,
.fa-people-arrows,
.fa-square-instagram,
.fa-creative-commons-sampling-plus,
.fa-file-invoice {
  font-size: 30px; /* Adjust the size as needed */
  color: #222222; /* Change the color as needed */
}

.heading-24 {
  font-size: 18px;
  margin-top: 3px;
  padding-left: 11px;
  text-align: left;
}

.paragraph-8{
  font-size: 16px;
}


.heading-233 {
    color: #222222;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }